{% extends "base.html" %}

{% block content %}
    <h1>It's Working!</h1>
    <p>Hello {{user}}</p>
    <ul>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/users">Users</a></li>
    </ul>
{% endblock %}
