{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<form method="POST" action="/login">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" name="username"></input>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password"></input>
    </div>
    <input type="hidden" name="redirect" value="{{ redirect }}" />
    <button id="submit_button" type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock%}