{% extends "base.html" %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    $('.markdown').each((index, element) => {
        element.innerHTML = (marked(element.innerHTML));
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h1 class="card-title">{{ post.subject }}</h1>
            <small class="card-subtitle mb-2 text-muted">{{ post.author }}</small>
        </div>
        <div class="card-body">
            <p class="card-text markdown">{{ post.content }}</p>
        </div>
    </div>
</div>
{% endblock %}