{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({ toolbar: false });
</script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    $('.markdown').each((index, element) => {
        element.innerHTML = (marked(element.innerHTML));
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Posts</h1>
    <dl>
        {% for item in posts %}
        <dt><a href="/posts/{{item.id}}">{{ item.subject }}</a></dt>
        <dd><small class="card-subtitle mb-2 text-muted">{{ item.author }}</small></dd>
        {% endfor %}
    </dl>
    {% if authenticated %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPost">
        New Post
    </button>
    {% endif %}
</div>
<!-- Modal -->
<div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="newPostLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostLabel">New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/posts">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputSubject">Subject</label>
                        <input class="form-control" type="text" id="inputSubject" name="subject" />
                        <label for="inputContent">Body</label>
                        <textarea class="form-control" id="inputContent" name="content"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Submit Post" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}