{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>User Profile</h1>
    <form method="PUT" action="/profile">
        <div class="form-group">
            <label for="handle">Username (public)</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input class="form-control" type="text" id="handle" name="handle" aria-describedby="usernameHelp" value="{{ profile.handle }}"/>
            </div>
            <small id="usernameHelp" class="form-text text-muted">
                This is your public username which will be visible to anyone browsing the website.
            </small>
            <input class="form-control" type="submit"/>
        </div>
    </form>
</div>
{% endblock %}